source/.vs
source/DigitalBank/.vs
source/DigitalBank/*/bin/
source/DigitalBank/*/obj/
source/DigitalBank/packages/
source/DigitalBank/*.suo
source/DigitalBank/buildreports/
source/test-results.xml
*.user
source/DigitalBank/bin/
nunit-result.xml
*.swp
source/DigitalBank/coverage
buildreports
source/DigitalBank/.vs/config/applicationhost.config
source/DigitalBank/OpenCover/
mobile/node_modules/



client/package-lock.json
client/package.json

source/DigitalBank/obj/*
*.v2

source/.vs/DigitalBank/v16/
source/DigitalBank.Domain/obj/Debug/netcoreapp3.1/

source/DigitalBank/DigitalBank.Domain/bin/Debug/netcoreapp3.1/

source/DigitalBank/DigitalBank.Domain/obj/

source/DigitalBank/DigitalBank.Infrastructure/bin/Debug/netcoreapp3.1/

source/DigitalBank/DigitalBank.Infrastructure/obj/Debug/netcoreapp3.1/

source/DigitalBank/DigitalBank.Persistence/bin/Debug/netcoreapp3.1/

source/DigitalBank/DigitalBankTemplate/
